{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    <title>Copa - Jardim Botânico</title>
    <!-- CDN vue.js para dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicons/goal_favicon.png' %}" type="image/x-icon">
</head>

<body>
    <div id="layout">
           <!-- NavBar -->
           <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-success">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#"><img src="{% static 'images/cup.png'  %}" alt="menu_cup image"></a> -->
                <a class="navbar-brand" type="button" id="menu-btn"><img src="{% static 'images/cup.png'  %}" alt="menu_cup image"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class=" item_nav_bar nav-link " aria-current="page" href="{% url 'tabela' %}"
                                style="color:goldenrod;">Tabela 2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="item_nav_bar nav-link" aria-current="page" href="{% url 'noticias' %}">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="item_nav_bar nav-link" aria-current="page" href="{% url 'galeria' %}">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="item_nav_bar nav-link" aria-current="page" href="{% url 'sobre' %}">Sobre a Copa</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Digite algo..." aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">Procurar</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- SideBar -->
        <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
           
            <ul class="navbar-nav d-flex flex-column mt-0 w-100">
                <li class="nav-item w-100">
                    <a href="#" class="nav-link text-light pl-4">
                        <img src="{% static 'images/icons/estrutura-hierarquica.png' %}" alt="">
                        Estrutura
                    </a>
                </li>
                <li class="nav-item dropdown w-100">
                    <a href="#" id="navbarDropdown" class="nav-link text-light dropdown-toggle pl-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/icons/team.png' %}" alt="">
                        Jogadores
                    </a>
                        <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                            <li><a href="#" class="dropdown-item text-light pl-4 p-2"><img src="{% static 'images/icons/football-player.png' %}" alt="jogadores">Jogador</a></li>
                            <li><a href="#" class="dropdown-item text-light pl-4 p-2"><img src="{% static 'images/icons/card.png' %}" alt="cartoes">Cartões</a></li>
                            <li><a href="#" class="dropdown-item text-light pl-4 p-2"><img src="{% static 'images/icons/goal.png' %}" alt="gol">Gols</a></li>
                        </ul>
                </li>
                <li class="nav-item w-100">
                    <a href="#" class="nav-link text-light pl-4">
                        <img src="{% static 'images/icons/trend.png' %}" alt="">
                        Estatísticas
                    </a>
                </li>
            </ul>
        </nav>
        <section class="my-container" >
            
            {% block content %}{% endblock content %}
        </section>
    </div>
   
    {% block script %} {% endblock%}  
    <script>
        var vue = new Vue({
            el: "#layout",
            delimiters: ['[[', ']]'],
            data() {
                return {
                    style_content :{
                        marginLeft: '0px'
                    },
                    style_sidebar : {
                        marginLeft: '0',
                    }
                }
            },
            methods: {
                showSideBar() {
                },
                sidebar_off(){
                    }
                }
        })
    </script>

    <!-- SiderBar -->
    <script>
        var menu_btn = document.querySelector("#menu-btn")
        var sidebar = document.querySelector("#sidebar")
        var container = document.querySelector(".my-container")

        menu_btn.addEventListener("click",()=>{
            sidebar.classList.toggle("active-nav")
            container.classList.toggle("active-cont")
        })
    </script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script type="text/javascript">
            (function (d, m) {
                var kommunicateSettings =
                    { "appId": "", "agentId": "", "popupWidget": true, "automaticChatOpenOnNavigation": true, "onInit": function () { Kommunicate.updateUserLanguage("pt-BR") } };
                var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
                s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
                var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
                window.kommunicate = m; m._globals = kommunicateSettings;
            })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
</body>
</html>